.DS_Store
.idea
pretrained_models
config/*
!config/.example.json
models/film_net/L1/saved_model/keras_metadata.pb
models/film_net/L1/saved_model/saved_model.pb
models/film_net/L1/saved_model/variables/variables.data-00000-of-00001
models/film_net/L1/saved_model/variables/variables.index
models/film_net/Style/saved_model/keras_metadata.pb
models/film_net/Style/saved_model/saved_model.pb
models/film_net/Style/saved_model/variables/variables.data-00000-of-00001
models/film_net/Style/saved_model/variables/variables.index
models/film_net/VGG/saved_model/keras_metadata.pb
models/film_net/VGG/saved_model/saved_model.pb
models/film_net/VGG/saved_model/variables/variables.data-00000-of-00001
models/film_net/VGG/saved_model/variables/variables.index
models/vgg/imagenet-vgg-verydeep-19.mat
act.bat
film.code-workspace
config.json
eval/__pycache__/interpolator_cli.cpython-310.pyc
eval/__pycache__/interpolator_test.cpython-310.pyc
eval/__pycache__/interpolator.cpython-310.pyc
eval/__pycache__/util.cpython-310.pyc
Pipfile
.gitignore
Pipfile.lock
__pycache__/*
.vscode/*
models/*
