tensorflow-gpu==2.10.0 
tensorboard
tensorflow-datasets
tensorflow-addons
absl-py==1.4.0
gin-config==0.5.0
parameterized==0.9.0
mediapy==1.1.8
scikit-image==0.21.0
apache-beam
dateutil
google-cloud-bigquery-storage==1.1.0 
natsort==8.4.0
gdown==4.7.1
tqdm==4.65.0
opencv-python==4.8.0.76
